* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 54, 54);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
#root {
  position: relative;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
.container__navbar {
  z-index: 1000;
}
.container {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  height: 97vh;
  flex-direction: column;
  justify-content: center;
}
.container_form {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentation {
  position: absolute;
  top: 25%;
  left: 0;
  padding: 4rem;
}
.presentation h1 {
  font-size: 4rem;
  text-align: left;
  margin-bottom: 2rem;
}
.presentation p {
  padding: 1rem;
}
.form {
  width: 400px;
  padding: 1rem 2rem;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  margin: 5% auto;
}
.input__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto; /* Dos columnas: una para el input y otra para el icono */
  gap: 10px; /* Espacio entre el input y el icono */
  align-items: center; /* Alinea verticalmente los elementos del contenedor */
  margin-bottom: 0.5rem;
}
.inputs {
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem;
  background-color: darkgray;
  text-align: center;
}
.inputs::placeholder {
  color: black;
  text-align: center;
}
.inputs:focus {
  outline: none;
}
.btn {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem;
  background-color: rgb(0, 0, 0);
  color: rgb(216, 216, 216);
  text-align: center;
  cursor: pointer;
  transition: all 0.7s ease;
}
.container-btn {
  width: 30%;
  display: flex;
  margin: 0 auto;
}
.btn-page {
  text-decoration: none;
  width: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #333;
  padding: 0.6rem 1rem;
  background-color: aliceblue;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.2s ease;
  margin-top: 1rem;
}
.btn-page:hover {
  background-color: rgb(146, 157, 165);
  color: aliceblue;
}
.btn:hover {
  background-color: rgb(58, 58, 58);
  color: rgb(216, 216, 216);
}
.error__container {
  margin: 0 auto;
  width: 400px;
  background-color: rgba(114, 33, 33, 0.685);
  width: 100%;
}
.error__text {
  font-weight: 400;
  padding: 1rem;
  margin: 5px 0;
  text-align: center;
  border-bottom: 0.5px solid #d6d4d4;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
a {
  color: dodgerblue;
  font-size: 0.8rem;
  font-weight: 500;
}
.message {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.table-box {
  margin: 5% 50px;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.603);
  background-color: #2b2b2b;
}
.table-row {
  display: table;
  width: 100%;
  margin: 10px auto;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: #ccc;
  font-size: 13px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.603);
}
.table-cell {
  display: table-cell;
  text-align: center;
  width: 20%;
  padding: 4px 0;
  border-left: 0.5px solid #d6d4d4;
  border-right: 0.5px solid #d6d4d4;
  vertical-align: middle;
}
.producto .table-cell {
  width: 14.28%;
}
.ProductoIngrediente {
  width: 16.66667%;
}
.table-header {
  background: #4c1d95;
  color: #ccc;
  font-weight: 800;
}
.table-header .table-cell {
  border-left: 0.5px solid #d6d4d49c;
  border-right: 0.5px solid #d6d4d4a6;
}
.table-box .btn {
  margin: 1rem auto 0 auto;
  background: #4d1d9593;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.603);
}
.btn-action {
  padding: 0.3rem 1rem;
  background: #4d1d9593;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.603);
  border: none;
  color: #ccc;
  font-weight: 600;
  margin-left: 0.5rem;
}
.container-input {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  display: none;
}
.checkbox,
label {
  color: #ffffff;
}
.input-checkbox {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #555555;
  background-color: #333333;
  color: #ffffff;
}
.container-volver {
  margin-top: 7.5rem;
  margin-left: 50px;
  display: flex;
}
.volver {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 1rem;
}
.icon{
    font-size: 1.5rem;
    opacity: 0;
    transition: all ease 0.3s;
}

.container-volver.hovered .icon {
    font-size: 1.5rem;
    opacity: 1;
    transition: all ease 0.3s;
  }
.top-container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.producto-title{
  margin-bottom: 2rem;
  font-size: 1.7rem;
  padding: 0.5rem;
  background-color: #4c1d95;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}